<script lang="ts" setup>
import { useProductStore } from "@/stores/products";
import { onMounted } from "vue";
import ProductDialog from "./ProductDialog.vue";

const productStore = useProductStore();

onMounted(async () => {
  await productStore.getProducts();
});
</script>

<template>
  <v-container>
    <ProductDialog></ProductDialog>
    <v-row>
      <v-col cols="10"> </v-col>
      <v-col>
        <v-btn @click="productStore.dialog = true">Add New</v-btn>
      </v-col>
    </v-row>
    <v-table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Price</th>
          <th>Operations</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item of productStore.products" :key="item.id">
          <td>{{ item.id }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.price }}</td>
          <td>
            <v-btn @click="productStore.editsProducts(item)">Edit</v-btn>
            <v-btn class="ml-6" @click="productStore.deleteProducts(item.id!)"
              >Delete</v-btn
            >
          </td>
        </tr>
      </tbody>
    </v-table>
  </v-container>
</template>

<style scoped></style>
